Section: misc
Priority: optional
Homepage: https://usbflashprog.robsonmartins.com/
Package: ufprog
Version: 0.3-0
Maintainer: Robson Martins <robson@robsonmartins.com>
Depends: libc6,libstdc++6,zlib1g,libqt5core5a,libqt5gui5,libqt5widgets5,libqt5serialport5
Architecture: amd64
Description: A memory device programmer (Flash/EPROM/E2PROM) board and software, connected to PC by USB port.
Installed-Size: 5000
