[Desktop Entry]
Version=1.0
Name=USB EPROM Flash Programmer
GenericName=USB EPROM Flash Programmer
Comment=A memory device programmer (Flash/EPROM/E2PROM) board and software, connected to PC by USB port
Exec=/opt/ufprog/ufprog
Icon=ufprog
StartupNotify=false
Terminal=false
Type=Application
Categories=Development;Science;Electronics;Qt;
