#include <windows.h>

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "ufprog.ico"

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", "Robson Martins"
			 VALUE "FileVersion", "0.1"
			 VALUE "FileDescription", "USB Flash/EPROM Programmer"
			 VALUE "InternalName", "ufprog"
			 VALUE "LegalCopyright", "Robson Martins"
			 VALUE "LegalTrademarks", "Robson Martins"
			 VALUE "OriginalFilename", "ufprog"
			 VALUE "ProductName", "USB Flash/EPROM Programmer"
			 VALUE "ProductVersion", "0.1"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0, 1252
	 }
}
